<p>draggable works!</p>
Mohit Mahajan

<!-- Basic Usage -->
<div ngDraggable>Drag Me!</div>

<!-- Disable -->
<div [ngDraggable]="false">Disabled</div>

<!-- Basic Usage -->
<div ngResizable style="height: 100px; width: 100px; border: 2px solid black">
  I'm resizable
</div>

<!-- Disable -->
<div [ngResizable]="false">Disabled</div>

<div class="row">
  <div class="col" style="min-height: 200px">
    <div ngResizable class="resizable-widget">
      <h4 class="widget-header">Resizable</h4>
    </div>
  </div>
</div>

<div ngResizable>I'm now resizable</div>

<div [ngResizable]="false">Resizable is disabled now</div>

<div
  ngResizable
  [rzHandles]="'n,e,s,w,se,sw,ne,nw'"
  style="height: 100px; width: 100px; border: 2px solid black"
>
  Each side is resizable
</div>

<div
  ngDraggable
  ngResizable
  style="height: 100px; width: 100px; border: 2px solid black"
>
  I'm now draggable and resizable
</div>
