<button (click)="getData()">submit</button>

<div
  style="border: 2px; padding: 2px"
  *ngFor="let json of dummyData; let i = index"
>
  <div style="margin: 2px; padding: 2px; border: 1px solid black" fxFlex="25">
    <div
      fxLayout="row"
      fxLayoutAlign="stretch"
      fxLayoutGap="5px"
      style="margin-bottom: 8px"
    >
      <span>{{ json.id }}</span
      >&nbsp;&nbsp;
      <span>
        <b>Shape : </b
        ><input type="text" style="width: 83px" [(ngModel)]="json.shape"
      /></span>
    </div>

    <div fxLayout="row" fxLayoutAlign="stretch" fxLayoutGap="5px">
      <textarea [(ngModel)]="json.text"></textarea>
    </div>
  </div>
  <div style="margin: 2px; padding: 2px; border: 1px solid black" fxFlex="75">
    <div fxLayout="row" fxLayoutAlign="start start">
      <span
        style="margin-right: 5px"
        *ngFor="let collection of json.connections; let j = index"
      >
        <div style="margin-bottom: 5px">
          <span>{{ collection.id }}</span
          >&nbsp;&nbsp;
          <span>
            <b>Shape : </b
            ><input
              type="text"
              style="width: 83px"
              [(ngModel)]="collection.shape"
          /></span>
        </div>

        <div>
          <textarea [(ngModel)]="collection.text"></textarea>
        </div>
        <div>
          <button (click)="deleteNode(i, j)">
            <mat-icon>delete</mat-icon>
          </button>
          <button (click)="addNode(i, j)"><mat-icon>add</mat-icon></button>
        </div>
      </span>
    </div>
  </div>
</div>
